{% extends "problem_generator/base.html" %}
{% load custom_filters %}
{% load static %}

{% block content %}
    <div class="box">
        <h1>Tema: {{ homework.title }}</h1>
        <p>Termen limita: {{ homework.deadline }}</p>
        <div class="underline"></div>
        <h2>Probleme:</h2>
        <ul>
            {% for problem in homework.probleme.all %}
            <li>
                <a href="{% url 'problem_detail' problem.id %}">Problema {{ forloop.counter }}</a>: {{ problem.text|truncatewords:10 }}
                {% if is_teacher %}
                    <h3>Solutii pentru problema:</h3>
                    <ul>
                        {% for solution in problem.solutions.all %}
                        <li>{{ solution.student.username }}: Nota - {{ solution.grade }}</li>
                        {% empty %}
                        <li>Nici o solutie nu a fost incarcata deocamdata.</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            {% empty %}
            <li>Nu au fost adaugate probleme inca.</li>
            {% endfor %}
        </ul>
    </div>

    <div class="box">
        <h2>Grile:</h2>
        <form method="post" action="{% url 'submit_homework' homework.id %}">
            {% csrf_token %}
            {% for mc_problem in homework.multiple_choice_problems.all %}
            <div>
                <div class="box">
                    <p class="enuntQuiz">{{ mc_problem.question }}</p>
                    {% for choice in mc_problem.choices %}
                        <label>
                            <input type="radio" name="question_{{ mc_problem.id }}" value="{{ choice|slice:':1' }}">
                            {{ choice|slice:'3:' }}
                        </label><br>
                    {% endfor %}
                </div>
            </div>
            {% empty %}
            <p>Nu au fost adaugate solutii pentru grila pana in acest moment.</p>
            {% endfor %}
            <input type="submit" value="Trimite raspunsurile" class="btn">
        </form>        
        {% if is_teacher %}
        <h2>Note si Solutii Incarcate</h2>
        {% if mcq_results %}
            <table>
                <thead>
                    <tr>
                        <th>Elev</th>
                        <th>Raspunsuri corecte</th>
                        <th>Total intrebari</th>
                        <th>Nota (%)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for submission in mcq_results %}
                        <tr>
                            <td>{{ submission.student.username }}</td>
                            <td>{{ submission.correct_answers }}</td>
                            <td>{{ submission.total_questions }}</td>
                            <td>{{ submission.grade }}%</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nu au fost incarcate solutii inca.</p>
        {% endif %}
        {% endif %}
    </div>
{% endblock content %}
